::-webkit-scrollbar {
        display: none;
}

.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: linear-gradient(to right, black, #51047D);
    
}
.main-fondo {
    background-color: linear-gradient(to right, black, #51047D);
}

.main-column {
    display: flex;
    flex-direction: column;
}

.movie-flex {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    padding: 1rem;
}
.boton{
    margin-top: 10px;
    font-size: large;
    color: white;
    border: none;
    background: #000;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 5px 10px black;
}